                                    /* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
                                    /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 3rem;
}
                                     /* Styling for App component */
.App {
  height: calc(100vh - 7vh);
  width: 100vw;
  text-align: center;
}
                                    /* Styling for Header/navbar component*/
.header {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2081C3;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.links {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.7rem;
  color: #fff;
  padding: 0 2%;
}
                                    /* Styling for the Homepage/landing page component */
.homepage {
  height: inherit;
  width: inherit;
}
                                    /* Styling for the Login component */
.login {
  position: relative;
  top: 2%;
  height: inherit;
  width: inherit;
}
.loginWrap {
  height: 60%;
  width: 35%;
  margin: 0 auto;
  border: 3px solid #2081C3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.loginTitle {
  height: 5%;
  font-size: 2.75rem;
}
form {
  height: 55%;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
label {
  height: 25%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
h5 {
  font-size: 2rem;
}
                                    /* Styling for the logout component */
.logout {
  height: inherit;
  width: inherit;
}
                                    /* Styling for the dashboard component */
.dashboard {
  height: inherit;
  width: inherit;
}
                                    /* Styling for the EventPage component */
.event-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
.event {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 35%;
  width: 28%;
  border: 3px solid black;
  border-radius: 5px;
}